/* RTL Support */

/*
[Table Of Contents]
1. Plugins.css
2. General
3. Blog
4. Isotope
5. Shop
6. Contact Form
7. Shortcodes
8. Accordion
9. Iconbox
10. Photobox
11. Process
12. Hover Effect
13. Pricing Table
14. wrapper
15. Easy Tabs
16. Btn
17. Owl Carousel
18. Slider Revolution
19. Top Bottom Panel
20. Header Footer Options
21. Others
22. Colors - Border
*/

/* ----------------------------------------------------------------------
	1. Plugins.css
---------------------------------------------------------------------- */
/* mega */
.yamm .dropdown-menu { right: auto; }
.yamm .nav.navbar-right .dropdown-menu {
	right: auto;
	left: 0;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
	right: 0;
	left: 0;
}
/* nivo lightbox */
.nivo-lightbox-overlay {
	left: auto;
	right: 0;
}
.nivo-lightbox-wrap {
	right: 10%;
	left: 10%;
}
.nivo-lightbox-title-wrap {
	left: auto;
	right: 0;
}
.nivo-lightbox-close {
	left: 2%;
	right: auto;
}
/* ----------------------------------------------------------------------
	2. General
---------------------------------------------------------------------- */
body { direction: rtl; }
img.align-left {
	float: right;
	margin: 0 0 5px 20px;
}
img.align-right {
	float: left;
	margin: 0 20px 5px 0;
}
.navbar-brand { float: right; }
.dropdown-menu {
	left: auto;
	right: 0;
	float: right;
}
.navbar-toggle {
	float: left;
	margin-left: 15px;
	margin-right: 0;
}
.dropdown-submenu > a { 
	padding-left: 25px !important; 
	padding-right: 15px !important; 
}
.dropdown-submenu > .dropdown-menu {
	left: auto;
	right: 100%;
	margin-right: -1px;
	margin-left: 0;
}
.dropdown-submenu > a:after {
	float: left;
	margin-left: -10px;
	margin-right: 0;
	border-right-color: #dddddd;
	border-width: 5px 5px 5px 0;
	left: 15px;
	right: auto;
}
.dropdown-submenu:hover > a:after { border-right-color: #ffffff; }
.dropdown-submenu.pull-left-submenu > .dropdown-menu {
	left: 100%;
	right: auto;
	margin-right: 0;
	margin-left: -1px;
}
@media (min-width: 768px) {
.navbar-nav { float: left; }
.navbar-nav > li { float: right; }
.navbar-nav > li > a {
	margin-right: 0px;
	margin-left: 0px;
}
.sticky-header .navbar-nav > li > a {
	margin-right: 0px;
	margin-left: 0px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.navbar-nav > li > a {
	margin-right: 0px;
	margin-left: 0px;
}
.sticky-header .navbar-nav > li > a {
	margin-right: 0px;
	margin-left: 0px;
}
}
@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header { padding: 5px 25px 5px 15px; }
}
.topbar-search .dropdown-menu {
	left: 0px;
	right: auto;
}
.topbar-searchbox {
	margin-right: 10px;
	margin-left: 0;
}
.topbar-contact > li {
	margin-left: 10px;
	margin-right: 0;
}
.topbar-contact > li i {
	margin-left: 5px;
	margin-right: 0;
}
#topbar .social-icons { margin: 4px 0 4px 10px; }
.pagetitle h1 { text-align: right; }
.breadcrumb { text-align: left; }
.breadcrumb li i {
	margin-left: 5px;
	margin-right: 0;
}
.titleline { margin: 0 0 20px auto; }
.titleline-footer { margin: 0 0 20px auto; }
.titleline-icon:after {
	right: 0;
	left: 0;
}
.titleline2 { margin: 0 0 20px auto; }
.titleline2:after {
	left: 70%;
	right: 0%;
}
.titleline2-center:after {
	left: 35%;
	right: 35%;
}
.titleline2-footer { margin: 0 0 20px auto; }
.titleline2-footer:after {
	left: 70%;
	right: 0%;
}
.footer-list li i {
	margin-left: 8px;
	margin-right: 0;
}
.footer-info {
	left: auto;
	right: 15px;
}
.footer-info:after {
	right: auto;
	left: -10px;
	border-right: 5px solid #000000;
	border-left: 5px solid transparent;
}
.copyright-link { float: left; }
@media (max-width: 767px) {
.copyright-link { float: none; }
}
.social-icons { float: right; }
.social-icons > li a {
	margin-right: 2px;
	margin-left: 0;
}
#footer .social-icons > li a {
	margin-right: 0px;
	margin-left: 2px;
}
#copyright .social-icons > li a {
	margin-right: 0px;
	margin-left: 2px;
}
@media (max-width: 767px) {
#copyright .social-icons { float: none !important; }
}
.flickr-thumbs li { float: right; }
#back-to-top {
	left: 22px;
	right: auto;
}
/* ----------------------------------------------------------------------
	3. Blog
---------------------------------------------------------------------- */
.blog-info {
	right: -10px;
	left: auto;
}
.blog-info:after {
	right: 0;
	left: auto;
	border-right: 5px solid transparent;
	border-left: 5px solid #222222;
}
.blog-title-body {
	margin-right: 15px;
	margin-left: 0;
}
.blog-title-body span {
	margin-left: 10px;
	margin-right: 0;
}
.blog-title-body span i {
	margin-left: 3px;
	margin-right: 0;
}
.comment img {
	float: right;
	margin: 0 0 20px 20px;
	border-radius: 50%;
}
.comment-reply {
	margin-right: 80px;
	margin-left: 0;
}
.pagination {
	padding-right: 0;
	padding-left: 0;
}
.pagination > li > a, .pagination > li > span {
	float: right;
	margin-right: -1px;
	margin-left: 0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	margin-right: 0;
	margin-left: 0;
	border-bottom-right-radius: 4px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span { border-bottom-left-radius: 4px; }
.sidebar-list li i {
	margin-left: 8px;
	margin-right: 0;
}
.sidebar-post img {
	float: right;
	margin: 0 0 5px 15px;
}
/* ----------------------------------------------------------------------
	4. Isotope
---------------------------------------------------------------------- */
.button-group .button, .button-group2 .button, .button-group3 .button, .button-group4 .button {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}
.element-item { float: right; }
.grid-item { float: right; }
.col-md-9 .isotope-select-menu {
	margin-left: 15px;
	margin-right: 0;
}
/* ----------------------------------------------------------------------
	5. Shop
---------------------------------------------------------------------- */
.cart-dropdown .dropdown-menu {
	left: 0 !important;
	right: auto !important;
}
.cart-dropdown .col-md-3, .cart-dropdown .col-md-4, .cart-dropdown .col-md-5, .cart-dropdown .col-md-6, .cart-dropdown .col-md-7, .cart-dropdown .col-md-8, .cart-dropdown .col-md-9 { float: right; }
/* ----------------------------------------------------------------------
	6. Contact Form
---------------------------------------------------------------------- */
.cmxform label i {
	margin-right: 5px;
	margin-left: 0;
}
.sidebar-info li i {
	margin-left: 5px;
	margin-right: 0;
}
/* ----------------------------------------------------------------------
	7. Shortcodes
---------------------------------------------------------------------- */
.dropcap {
	float: right;
	margin: 0px 0 0 20px;
}
.dropcap-theme {
	float: right;
	margin: 0px 0 0 20px;
}
.tooltip.right .tooltip-arrow { border-left-color: #dddddd; }
.tooltip.left .tooltip-arrow { border-right-color: #dddddd; }
.tooltip-content { text-align: right; }
.tooltip-content::after {
	margin-right: -10px;
	margin-left: 0;
}
.list-unstyled {
	padding-right: 0;
	padding-left: 0;
}
.icon-arrow-list {
	padding-right: 0;
	padding-left: 0;
}
.icon-arrow-list li i {
	margin-left: 8px;
	margin-right: 0;
}
.skillbar-percent { text-align: left; }
.skillbar-tooltip {
	left: 0px;
	right: auto;
}
.skillbar-tooltip:after {
	left: -30px;
	right: 0;
	border-left: 5px solid #555555;
	border-right: 5px solid transparent;
}
.video-container iframe, .video-container object, .video-container embed {
	left: auto;
	right: 0;
}
.testimonial:before, .testimonial:after { content: "\f10e"; }
.testimonial:before {
	left: auto;
	right: 10px;
}
.testimonial:after {
	left: 10px;
	right: auto;
	content: "\f10d";
}
.testimonial-author img {
	text-align: right;
	margin-left: 10px;
	margin-right: 0;
	border-radius: 50%;
}
.testimonial-author p {
	text-align: right;
	padding-right: 10px;
	padding-left: 0;
}
.testimonial-author:after {
	left: auto;
	right: 80px;
}
blockquote { border-width: 0 5px 0 0; }
#fakeloader .spinner1, #fakeloader .spinner2, #fakeloader .spinner3, #fakeloader .spinner4, #fakeloader .spinner5, #fakeloader .spinner6, #fakeloader .spinner7 {
	left: 0 !important;
	right: 0 !important;
}
/* ----------------------------------------------------------------------
	8. Accordion
---------------------------------------------------------------------- */
.accordion-container, .toggle-container { text-align: right; }
.accordion-container h4, .toggle-container h4 { padding: 10px 55px 10px 15px; }
.accordion-container h4:before, .toggle-container h4:before {
	left: auto;
	right: 15px
}
/* ----------------------------------------------------------------------
	9. Iconbox
---------------------------------------------------------------------- */
@media (min-width: 992px) { /**/
.line300:before {
	left: auto;
	right: 0;
}
.line300:after {
	content: "\f100";
	left: -300px;
	right: 0;
}
}
.iconbox2 .iconbox2-bg {
	left: 10px;
	right: auto;
}
.iconbox2-icon {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.iconbox2-content { text-align: right; }
@media (max-width: 767px) {
.iconbox2-icon {
	float: none;
	margin: 0 auto 20px;
	text-align: center;
}
.iconbox2-content { text-align: center; }
}
/* ----------------------------------------------------------------------
	10. Photobox
---------------------------------------------------------------------- */
.photobox1 figure {
	float: right;
	margin: 0 0 20px 30px;
}
.photobox1 .da-thumbs {
	float: right;
	margin: 0 0 20px 30px;
}
.photobox1-content h4 span {
	margin-right: 20px;
	margin-left: 0px;
}
@media (max-width: 767px) {
.photobox1 figure { float: none; }
.photobox1 .da-thumbs { float: none; }
}
.photobox2 img {
	left: auto;
	right: 0;
}
.photobox2-content {
	margin-right: 70px;
	margin-left: 0;
	padding: 20px 90px 20px 20px;
}
@media (max-width: 767px) {
.photobox2 img {
	right: 0;
	left: 0;
}
.photobox2-content {
	margin-right: 0px;
	margin-left: 0;
	padding: 90px 20px 20px 20px;
}
}
.studio-info {
	right: -10px;
	left: auto;
}
.studio-info:after {
	right: 0px;
	left: auto;
	border-left: 5px solid #222222;
	border-right: 5px solid transparent;
}
.photo-title.text-left, .photo-title2.text-left, .photo-title3.text-left {
	text-align: right;
	padding: 20px 0 10px 0;
}
.photo-title.text-left2, .photo-title2.text-left2, .photo-title3.text-left2 { text-align: right; }
/* ----------------------------------------------------------------------
	11. Process
---------------------------------------------------------------------- */
.process-1 .triangle-right {
	left: -30px;
	right: auto;
	border-left: 15px solid transparent;
	border-right: 15px solid #555555;
	box-shadow: none;
}
.process-2 .triangle-left {
	left: auto;
	right: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid #ffffff;
	box-shadow: none;
}
.process-2 .triangle-right {
	left: -30px;
	right: auto;
	border-left: 15px solid transparent;
	border-right: 15px solid #555555;
	box-shadow: none;
}
.process-3 .triangle-left {
	left: auto;
	right: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid #ffffff;
	box-shadow: none;
}
.step {
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
.process-content h4 i {
	margin-left: 10px;
	margin-right: 0;
}
/* ----------------------------------------------------------------------
	12. Hover Effect
---------------------------------------------------------------------- */
.effect-phoebe { float: right; }
.effect-phoebe figcaption, .effect-phoebe figcaption > a {
	left: auto;
	right: 0;
}
.effect-phoebe p {
	right: 0;
	left: 0;
}
.effect-1:after, .effect-2:after {
	right: -2px;
	left: auto;
}
.effect-3:after {
	right: -7px;
	left: auto;
}
.effect-4:after {
	right: 0;
	left: auto;
}
/* ----------------------------------------------------------------------
	13. Pricing Table
---------------------------------------------------------------------- */
.price span {
	margin-left: 5px;
	margin-right: 0;
}
.price strong span {
	margin-right: 5px;
	margin-left: 0;
}
.sign-up i {
	margin-right: 10px;
	margin-left: 0;
}
.pricing-table ul li i {
	margin-left: 15px;
	margin-right: 0;
}
@media (min-width: 768px) {
.pricing-table {
	margin-left: -16px;
	margin-right: -16px;
}
.popular {
	border-right: none;
	border-left: none;
}
}
/* ----------------------------------------------------------------------
	14. wrapper
---------------------------------------------------------------------- */
.absolute-right {
	left: 100px;
	right: auto;
}
.absolute-left {
	left: auto;
	right: 100px;
}
@media (min-width: 768px) {
.skew-black-left:after {
	left: auto;
	right: -75px;
	-webkit-transform: skew(10deg);
	transform: skew(10deg);
}
.skew-black-right:after {
	left: -75px;
	right: auto;
	-webkit-transform: skew(10deg);
	transform: skew(10deg);
}
.skew-white-left:after {
	left: auto;
	right: -75px;
	-webkit-transform: skew(10deg);
	transform: skew(10deg);
}
.skew-white-right:after {
	left: -75px;
	right: auto;
	-webkit-transform: skew(10deg);
	transform: skew(10deg);
}
.skew-gray-left:after {
	left: auto;
	right: -75px;
	-webkit-transform: skew(10deg);
	transform: skew(10deg);
}
.skew-gray-right:after {
	left: -75px;
	right: auto;
	-webkit-transform: skew(10deg);
	transform: skew(10deg);
}
}
.parallax-overlay-black .process-2 .triangle-left, .parallax-overlay-black .process-3 .triangle-left, .parallax-overlay-theme .process-2 .triangle-left, .parallax-overlay-theme .process-3 .triangle-left, .parallax-overlay-white .process-2 .triangle-left, .parallax-overlay-white .process-3 .triangle-left {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	box-shadow: none;
}
.widebox-gray-content .process-2 .triangle-left, .widebox-gray-content .process-3 .triangle-left {
	border-left: 15px solid transparent;
	border-right: 15px solid #fdfdfd;
	-webkit-box-shadow: 1px 0px 0px #fdfdfd;
	box-shadow: 1px 0px 0px #fdfdfd;
}
.wrapper-graybg .process-2 .triangle-left, .wrapper-graybg .process-3 .triangle-left {
	border-left: 15px solid transparent;
	border-right: 15px solid #fdfdfd;
	-webkit-box-shadow: 1px 0px 0px #fdfdfd;
	box-shadow: 1px 0px 0px #fdfdfd;
}
.wrapper-darkbg .process-2 .triangle-left, .wrapper-darkbg .process-3 .triangle-left, .widebox-black-content .process-2 .triangle-left, .widebox-black-content .process-3 .triangle-left {
	border-left: 15px solid transparent;
	border-right: 15px solid #333333;
	-webkit-box-shadow: 1px 0px 0px #333333;
	box-shadow: 1px 0px 0px #333333;
}
.wrapper-themebg .process-2 .triangle-left, .wrapper-themebg .process-3 .triangle-left {
	border-left: 15px solid transparent;
	border-right: 15px solid #528fcc; /**/
	-webkit-box-shadow: 1px 0px 0px #528fcc; /**/
	box-shadow: 1px 0px 0px #528fcc; /**/
}
/* ----------------------------------------------------------------------
	15. Easy Tabs
---------------------------------------------------------------------- */
.tab {
	margin-left: 0px;
	margin-right: 0;
}
.tab a {
	border-left: none;
	border-right: 1px solid #dddddd;
}
.etabs li:last-child {
	border-left: 1px solid #dddddd;
	border-right: none;
}
.tab a i {
	margin-left: 5px;
	margin-right: 0;
}
.tab-side-container ul { float: right; }
.tab-side-container ul li { text-align: right; }
.tab-side-container ul li a {
	border-left: none;
	right: 1px;
	left: auto;
	border-right: 1px solid #dddddd;
}
.tab-side-container ul li a i {
	margin-left: 5px;
	margin-right: 0;
}
.tab-side-container ul li.selected-tab {
	right: 0px;
	left: auto;
}
.tab-side-container ul li a.selected-tab {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #dddddd;
}
@media (max-width: 991px) {
.tab-side-container ul { float: none; }
.tab-side-container ul li {
	margin-left: 0px;
	margin-right: 0
}
.tab-side-container ul li a {
	right: 0;
	left: auto;
}
.tab-side-container ul li:last-child {
	border-left: 1px solid #dddddd !important;
	border-right: none!important;
}
.tab-side-container ul li a.selected-tab {
	border-left: none;
	border-right: 1px solid #dddddd;
}
}
/* tabs 2 */
.tab-container2 .etabs li:last-child {
	border-left: none;
	border-right: none;
}
.tab-side-container.tab-side-container2 ul li a {
	right: 0;
	left: auto;
}
.tab-side-container.tab-side-container2 ul li a.selected-tab {
	border-left: none;
	border-right: none;
}
@media (max-width: 991px) {
.tab-side-container.tab-side-container2 ul li:last-child {
	border-right: none; /**/
	border-left: none;
}
}
/* ----------------------------------------------------------------------
	16. Btn
---------------------------------------------------------------------- */
.btn span i {
	left: 0;
	right: auto;
}
.btn.btn-lg span {
	margin-right: 34px;
	margin-left: 0;
}
.btn span {
	margin-right: 26px;
	margin-left: 0;
}
.btn.btn-sm span {
	margin-right: 23px;
	margin-left: 0;
}
.btn.btn-xs span {
	margin-right: 15px;
	margin-left: 0;
}
/* ----------------------------------------------------------------------
	17. Owl Carousel
---------------------------------------------------------------------- */
/* black arrow */
.owl-theme.black-arrow .owl-controls .owl-buttons .owl-prev {
	left: 0;
	right: auto;
}
.owl-theme.black-arrow .owl-controls .owl-buttons .owl-next {
	left: 40px;
	right: auto;
}
/* Slider */
.owl-slider-right {
	text-align: left;
	margin-right: 0;
	margin-left: 100px;
}
.owl-slider-left {
	text-align:right;
	margin-left: 0;
	margin-right: 100px;
}
@media (max-width: 991px) {
.owl-slider-right {
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}
.owl-slider-left {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
.owl-slider .btn.btn-lg span {
	margin-right: 25px;
	margin-left: 0;
}
}
.owl-carousel { direction: ltr; }
.owl-carousel .photo-title, .owl-carousel .photo-title2, .owl-carousel .team-content, .owl-carousel .testimonial, .owl-carousel .testimonial-author, .owl-carousel .owl-caption, .owl-white-large, .owl-white-medium, .owl-white-small, .owl-black-large, .owl-black-medium, .owl-black-small, .owl-theme-large, .owl-theme-medium, .owl-theme-small, .owl-slider .btn, .owl-theme .owl-pagination { direction: rtl; }
/* ----------------------------------------------------------------------
	18. Slider Revolution
---------------------------------------------------------------------- */
#rev-slider1-wrapper { direction: ltr; }
#rev-slider1-wrapper .btn, .tp-bullet, .white-large, .white-medium, .white-small, .black-large, .black-medium, .black-small, .theme-large, .theme-medium, .theme-small { direction: rtl; }
/* Mobile Slider Revo Button */
@media (max-width: 480px) {
.tp-caption.btn.btn-lg span, .tp-caption.btn span, .tp-caption.btn.btn-sm span, .tp-caption.btn.btn-xs span {
	margin-left: 0;
	margin-right: 26px;
}
}
/* ----------------------------------------------------------------------
	19. Top Bottom Panel
---------------------------------------------------------------------- */
/* Top Panel */
.toppanel-wrap {
	left: auto;
	right: 0;
}
.toppanel-list li i {
	margin-left: 8px;
	margin-right: 0;
}
.toppanel-button {
	right: auto;
	left: 10px;
	padding: 5px 30px 7px 15px;
}
@media (max-width: 767px) {
.toppanel-button {
	left: 0;
	right: auto;
}
}
.toppanel-button:before {
	right: 10px;
	left: auto;
}
.toppanel-button2 {
	right: auto;
	left: 0;
	border-right: 25px solid transparent;
	border-left: 25px solid #444444;
}
.toppanel-button2:before {
	right: auto;
	left: -15px;
}
.toppanel { background-position: 20% 80%; }
@media (max-width: 767px) {
.toppanel { background-position: 10% 95%; }
}
/* Bottom Panel */
.bottompanel-button {
	left: auto;
	right: 10px;
	padding: 5px 30px 7px 15px;
}
@media (max-width: 767px) {
.bottompanel-button {
	right: 0;
	left: auto;
}
}
.bottompanel-button:before {
	right: 10px;
	left: auto;
}
.bottompanel-button2 {
	left: auto;
	right: 0px;
	border-right: 25px solid #444444;
	border-left: 25px solid transparent;
}
.bottompanel-button2:before {
	left: auto;
	right: -15px;
}
.bottompanel { background-position: 20% 80%; }
@media (max-width: 767px) {
.bottompanel { background-position: 10% 95%; }
}
/* ----------------------------------------------------------------------
	20. Header Footer Options
---------------------------------------------------------------------- */
/* Transparent Header */
#header-wrapper {
	right: 0;
	left: 0;
}

/* Topbar Copyright Skew */
@media (min-width: 768px) {
#topbar.topbar-skew { position: relative; }
#topbar.topbar-skew:before, #copyright.copyright-skew:before {
	left: auto;
	right: 0;
}
#topbar.topbar-skew:after, #copyright.copyright-skew:after {
	right: 43%;
	left: auto;
	-webkit-transform: skew(10deg);
	transform: skew(10deg);
}
}
/* Header Center - Overwrite */
@media (min-width: 768px) {
.header-center .navbar .navbar-collapse { text-align: center; }
.header-center .navbar .navbar-nav {
	display: inline-block;
	float: none;
}
}
/* ----------------------------------------------------------------------
	21. Others
---------------------------------------------------------------------- */
.gmap_marker { padding-right: 15px; }
/* Pull */
.dropdown-menu.pull-right {
	right: auto;
	left: 0;
}
.pull-right > .dropdown-menu {
	right: auto;
	left: 0;
}
.pull-right { float: left !important; }
.pull-left { float: right !important; }
.dropdown-menu-right {
	right: auto !important;
	left: 0 !important;
}
.dropdown-menu-left {
	right: 0 !important;
	left: auto !important;
}
.text-left { text-align: right; }
.text-right { text-align: left; }
/* Search Box border-radius */
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
/* Style Switcher */
.slide-out-div ul li { float: right; }
/* ----------------------------------------------------------------------
	22. Colors - Border
---------------------------------------------------------------------- */
/* timeline */
.timeline {
	text-align: right;
	border-left: none;
	border-right: 1px dashed #528fcc; /**/
}
.timeline-details { text-align: right; }
@media (min-width: 768px) {
.timeline:before {
	left: auto;
	right: -20px;
}
.timeline:after {
	content: "\f104";
	left: -20px;
	right: auto;
}
}
/* contentbox */
.contentbox .triangle-right {
	left: -30px;
	right: auto;
	border-left: 15px solid transparent;
	border-right: 15px solid #eeeeee;
}
.contentbox .triangle-left {
	left: auto;
	right: -30px;
	border-right: 15px solid transparent;
	border-left: 15px solid #eeeeee;
}
.contentbox .triangle-top {
	left: 0;
	right: 0;
}
.contentbox .triangle-bottom {
	left: 0;
	right: 0;
}
.contentbox-theme .triangle-right {
	border-left: 15px solid transparent;
	border-right: 15px solid #528fcc; /**/
}
.contentbox-theme .triangle-left {
	border-right: 15px solid transparent;
	border-left: 15px solid #528fcc; /**/
}
.contentbox-black .triangle-right {
	border-left: 15px solid transparent;
	border-right: 15px solid #333333;
}
.contentbox-black .triangle-left {
	border-right: 15px solid transparent;
	border-left: 15px solid #333333;
}
/* ----------------------------------------------------------------------
	23. Addition
---------------------------------------------------------------------- */
.iconbox1 .iconbox1-bg {
	right: auto;
	left: 10px;
}
.iconbox2 .iconbox2-bg {
	right: auto;
	left: 10px;
}
.process-bg {
	right: auto;
	left: 10px;
}
.footer-tooltip {
	left: auto;
	right: 10px;
}
.footer-tooltip .footer-tooltip-arrow {
	left: auto;
	right: 0;
	border-right: 10px solid transparent;
	border-left: 10px solid #528fcc;
}
